.container
{
  display: flex;
  overflow-x: auto;
  justify-content: space-around;
  padding: 2vh;
}
.twitch-wrapper-red
{
  border-radius: 12px;
  box-shadow: -4px 4px 12px;
  color: #FFF;
  animation: redPulse 2s infinite;
}
.twitch-wrapper-blue
{
  border-radius: 12px;
  box-shadow: -4px 4px 12px;
  color: #FFF;
  animation: bluePulse 2s infinite;
}
.twitch-wrapper-pink
{
  border-radius: 12px;
  box-shadow: -4px 4px 12px;
  color: #FFF;
  animation: pinkPulse 2s infinite;
}
@keyframes redPulse {
  50% {box-shadow: -8px 8px 18px;color:red;}
}
@keyframes bluePulse {
  50% {box-shadow: -8px 8px 18px;color:deepskyblue;}
}
@keyframes pinkPulse {
  50% {box-shadow: -8px 8px 18px;color:orchid;}
}
h1, a
{
  padding-left: 2vw;
  color: deepskyblue;
  text-shadow: -1px 1px 4px #0074ff;
  font-family: 'Bebas Neue'
}
