.container
{
  display: flex;
  overflow-x: auto;
  justify-content: flex-start;
  padding: 2vw;
}
.component-wrapper
{
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  padding: 3vw;
}
.twitch-wrapper-red
{
  border-radius: 12px;
  box-shadow: -4px 4px 12px;
  color: #FFF;
  animation: redPulse 3s infinite;
}
.twitch-wrapper-blue
{
  border-radius: 12px;
  box-shadow: -4px 4px 12px;
  color: #FFF;
  animation: bluePulse 3s infinite;
}
.twitch-wrapper-green
{
  border-radius: 12px;
  box-shadow: -4px 4px 12px;
  color: #FFF;
  animation: greenPulse 3s infinite;
}
@keyframes redPulse
{
  0% {box-shadow: -8px 8px 18px;color:red;}
  50% {box-shadow: -8px 8px 18px;color:deepskyblue;}
  100%{box-shadow: -8px 8px 18px;color:green;}
}
@keyframes bluePulse
{
  0% {box-shadow: -8px 8px 18px;color:deepskyblue;}
  50% {box-shadow: -8px 8px 18px;color:green;}
  100%{box-shadow: -8px 8px 18px;color:red;}
}
@keyframes greenPulse
{
  0% {box-shadow: -8px 8px 18px;color:green;}
  50% {box-shadow: -8px 8px 18px;color:red;}
  100% {box-shadow: -8px 8px 18px;color:deepskyblue;}
}
h1, a
{
  padding-left: 2vw;
  color: deepskyblue;
  text-shadow: -1px 1px 4px #0074ff;
  font-family: 'Bebas Neue'
}
iframe
{
  border-radius: 12px;
  box-shadow: -4px 4px 15px #FFF;
}
